{% extends 'base.html.twig' %}

{% block body %}
	<section class="produit-section">
		<div class="d-flex justify-content-between">
			<div>
				<h1>Panier</h1>
				<ul>
					{% for produit in produits %}
						<div class="d-flex m-2">
							<div class="panier-img" style="background-image:url({{asset(produit.image)}});"></div>
							<div class="d-flex text-center">
								<p>{{ produit.nom }}
									-
									{{ produit.prix }}
									€
								</p>
							</div>
							<a class="button-del mx-4" href="{{ path('supprimer_du_panier', {'id': produit.id}) }}">
								<svg viewbox="0 0 448 512" class="svgIcon-del">
									<path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path>
								</svg>
							</a>
						</div>
					{% endfor %}

				</ul>
			</div>
			<div class="mx-5">
				<h2>Total :
					{{ total }}
					€
				</h2>
			</div>
		</div>
		{% if produits is not empty %}
			<a class="btn-compte mx-5" href="{{ path('commander_panier') }}">Passer la commande</a>
		{% else %}
			<a href="{{ path('app_produit_index') }}" class="btn-compte mx-5">Retourner à la boutique</a>
		{% endif %}
	</section>
	{{ include('footer.html.twig') }}
{% endblock %}
